.book-page {
    padding: 50px;
    padding-top: 150px;
    position: relative;
}
.book-page> * {
    z-index: 10;
    position: relative;
}
.book-card-wrapper {
    max-width: 700px;
    margin: 0px auto;
}
.book-page::before {
    content: "";
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../static/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}